# Node.js dependencies
node_modules/

# Output directories for builds
dist/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Electron-specific cache
.cache/
electron-builder-cache/
C:/Users/Gaurav/AppData/Local/electron-builder/

# Prettier configuration
.prettierrc

# Miscellaneous
*.lock
*.env